<div class="container">

    <div class="row">
        <div class="col-xs-12">
            <div class="jumbotron">
                <h1 class="text-center">NYT Scraper</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 text-center">
            <h5>Click below for the next article</h5>
            <a href="#">
                <button type="button" id="scrape" class="btn btn-primary">Scrape!</button>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 text-center">
            <h2 id="title"></h2>
            <a href="" id="link" target="_blank"></a>
        </div>
    </div>

    <div class="row" id="comment-row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
            <h3 class="text-center">Comments </h3>
            <div id="comment-window">
            </div>
            <div id="input">
                <form>
                    <div class="input-group col-xs-12 form-group">
                        <input id="comment" type="text" class="form-control" />
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="submit" id="comment-button">Add
                        </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-xs-2"></div>
    </div>
</div>
