<div class="container">

    <div class="row">
        <div class="col-xs-12">
            <div class="jumbotron">
                <h1 class="text-center">Florida Man Tracker</h1>
                <h4 class="text-center">The #1 Site to Keep Up With the Comings and Goings of the Florida Man!</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 text-center">
            <h5>Click the Florida Man to see what he's been up to!</h5>
            <a href="#">
                <img id="redneck" src="/images/man.jpg" />
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 text-center">
            <h2 id="title"></h2>
            <a href="" id="link" target="_blank"></a>
        </div>
    </div>

    <div class="row" id="comment-row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
            <h3 class="text-center">Comments </h3>
            <div id="comment-window">
            </div>
            <div id="input">
                <form>
                    <div class="input-group col-xs-12 form-group">
                        <input id="comment" type="text" class="form-control" />
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="submit" id="comment-button">Send
                        </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-xs-2"></div>
    </div>
</div>
